# Node modules
/node_modules

# Build output
/public

# Editor and IDE files
.vscode
.idea
*.suo
*.ntvs*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnails
Thumbs.db
ehthumbs.db

# Compiled files
*.log
*.out

# Dependencies
package-lock.json
yarn.lock
